@use "../../../../../../styles/index" as *;

.sectionWrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 100px 10px 100px;
  margin-top: 100px;

  @media (max-width: 1050px) {
    padding: 70px 60px 10px 60px;
  }

  @include tablet-down {
    height: auto;
    padding: 90px 8% 10px 8%;
  }

  &__innerContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    @include tablet-down {
      flex-direction: column;
    }
  }
}

.mainHeaderSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  .sectionHeadingWrapper {
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;

    .sparkleDiv {
      top: 0px;
      left: 0px;
      transform: translate(-80%, -80%);
      position: absolute;
      width: 40px;
      aspect-ratio: 1/1;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;

      div {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      @media (max-width: 1050px) {
        width: 35px;
        transform: translate(-70%, -70%);
      }

      @include tablet-down {
        transform: translate(-50%, -90%);
      }
    }

    &__primaryHeading {
      @include font($font-sharp-25, $medium);
      z-index: 2;
      margin-bottom: 5px;
      font-size: clamp(
        1.5rem,
        0.2574850299401197rem + 2.3952095808383236vw,
        4rem
      ) !important;
    }
    &__secondaryHeading {
      @include font($font-sharp-25, $medium, $text-brand);
      text-transform: uppercase;
      z-index: 2;
      font-size: clamp(
        0.8rem,
        0.20359281437125754rem + 1.1497005988023952vw,
        2rem
      ) !important;
    }
  }

  .sectionDescriptionWrapper {
    width: 100%;
    height: auto;
    display: flex;
    z-index: 5;

    .descDiv {
      width: 60%;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 20px 0px;

      @media (max-width: 1050px) {
        width: 70%;
      }

      p {
        line-height: 2;
        @include font($font-oldschool, $medium);
        font-size: clamp(
          0.7rem,
          0.053892215568862256rem + 1.2455089820359282vw,
          2rem
        ) !important;
      }

      @include tablet-down {
        width: 100%;
      }
    }
  }
}

.contentSection {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid red;

  .cardsGrid {
    position: relative;
    width: 70%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(2, auto);
    gap: 30px;

    @include large-tablet-down {
      width: 100%;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 20px;
    }

    @include tablet-down {
      width: 100%;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 20px;
    }

    @include mobile-down {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      width: 100%;
      grid-template-columns: 100%;
      gap: 15px;
    }

    .reasonCard {
      width: 100%;
      height: auto;
      background: linear-gradient(168.99deg, #fff7e1 8.13%, #f8f1de 114.75%);
      border: 1px solid #715c1121;
      border-radius: 20px 20px 20px 60px;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 70px minmax(0, 1fr);
      padding: 4rem;
      padding: 1.5rem;
      padding: clamp(
        1.5rem,
        0.2574850299401197rem + 2.3952095808383236vw,
        4rem
      ) !important;

      @include tablet-down {
        height: auto;
        aspect-ratio: unset;
      }

      &__titleCell {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;

        .titleSparkleDiv {
          position: absolute;
          width: 35px;
          aspect-ratio: 1/1;
          display: flex;
          align-items: center;
          justify-content: center;
          top: 0;
          left: 0;
          transform: translate(-80%, -30%);

          @media (max-width: 1050px) {
            width: 30px;
            transform: translate(-70%, -25%);
          }
        }

        .titleContainer {
          display: flex;
          flex-direction: column;
          width: 100%;
          overflow: hidden;

          .titleText,
          .subTitleText {
            display: flex;
            align-items: center;
            @include font($font-sharp-25, $medium, #9c7f16);
            text-transform: uppercase;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 2rem;
            font-size: 1rem;
            font-size: clamp(
              1rem,
              0.5029940119760479rem + 0.9580838323353293vw,
              2rem
            ) !important;
          }

          .subTitleText {
            margin-top: 4px;
          }
        }
      }

      &__descriptionCell {
        width: 100%;
        max-width: 100%;
        padding: 2rem 0;
        p {
          @include font($font-oldschool, $book, #9c7f16);
          line-height: 2;
          font-size: 1.5rem;
          font-size: 0.8rem;
          font-size: clamp(
            0.8rem,
            0.4520958083832336rem + 0.6706586826347305vw,
            1.5rem
          ) !important;

          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 9;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;

          max-height: calc(2em * 9);
        }
      }
    }
  }
}

.sparkle {
  position: absolute;
  height: 100px;
  margin-top: 15%;

  @include tablet-down {
    display: none;
  }
}

.sparkle2 {
  position: absolute;
  height: 100px;
  margin-top: 37%;
  left: 23%;

  @include tablet-down {
    display: none;
  }
}
