@use "../../../../../../styles/fonts" as *;

.main {
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.personalInfoContent {
  height: 75vh;
  width: 140vh;
  margin-right: 20px;
  border: 2px solid #A69600;
  border-radius: 20px;
  padding: 30px;
}

.imgdiv {
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.profilepic {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.editbtn{
  background: none;
  font-size: 1rem;
  padding: 7px;
  border: 1px solid #A69600;
  border-radius: 10px;
  color: #FF7415;
  width: 100px;
}

.username{
  text-align: center;
  margin-top: 30px;
  color: #A69600;
  font-family: $font-sharp-20;
  font-size: 1.5rem;
}

.username span{
  color: #FF7415;
  font-size: 0.8rem;
}

.infodiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.upper{
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 50vh;
  margin-bottom: 30px;
}

.lower{
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 45vh;
}

.fieldbox{
  display: flex;
  flex-direction: row;
  gap: 20px;
}