.main {
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.personalInfoContent {
  height: 75vh;
  width: 140vh;
  background-color: lightcoral;
  margin-right: 20px;
}
