@use "../../../../../../styles/fonts" as *;

.main {
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.personalInfoContainer {
  height: 83vh;
  width: 150vh;
  margin-right: 20px;
  border-radius: 20px;
  background-color: #faf7e9;
  padding: 30px;
}

.profileHeader {
  width: 100%;
  height: 13vh;
  background-color: #f8f3de;
  border-radius: 20px 20px 0 0;
  border: 1px solid rgba(171, 155, 13, 0.4);
  display: flex;
  flex-direction: row;
}

.profileImageWrapper {
  border: 2px solid #a69600;
  width: 19vh;
  height: 18vh;
  margin: 80px 20px;
  border-radius: 15px;
  background-color: #f8f8f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileImage {
  padding: 5px;
  border-radius: 15px;
}

.userDetails {
  margin: 130px 30px;
  
}

.userName {
  font-family: $font-oldschool;
  font-weight: 500;
  color: #a69600;
  font-size: 2.5rem;
}

.userRole {
  font-family: $font-oldschool;
  font-weight: 400;
  font-size: 1rem;
}

.editProfileButton{
  font-family: $font-oldschool;
  font-size: 1.2rem;
  width: 8vh;
  padding: 3px 5px;
  border-radius: 10px;
  border: 1px solid #a69600;
  background: #EDE8C7;
  margin-top: 10px;
  color: #7e7208;
  font-weight: 500;
}

.line{
  background-color: #a69600;
  height: 1px;
  margin-bottom: 8px;
}

.userInfoFields {
  margin-top: 14rem;
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.upperFields,
.lowerFields {
  display: flex;
  justify-content: space-between;
  gap: 20rem;
  margin: 0 50px;
}

.fieldGroup {
  flex: 1; 
  display: flex;
  flex-direction: column;
  gap: 6px;
  border-bottom: 1px solid #a69600;
  padding: 10px;

 &:focus-within {
    background: #EDE8C7;
  }
}

.fieldGroup label {
  font-size: 16px;
  color: #a69600;
  font-weight: 400;
  margin-left: 5px;
  font-family: $font-sharp-20;
}

.fieldGroup input {
  padding: 10px 14px;
  font-size: 22px;
  font-family: $font-sharp-20;
  color: black;
  outline: none;
  transition: all 0.2s ease;
  background: transparent;
  border: none;
  line-height: 1.4; // ✅ ensures letters like g, j aren't cut
  display: block;   // ✅ revert from flex
  box-sizing: border-box; // ✅ ensures padding fits well
}

