@use "../../../../../../styles/index" as *;

.sectionWrapper {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid #715c119e;
  margin-top: 50px;

  @include tablet-down {
    height: auto;
  }

  &__innerContainer {
    width: calc(100% - 100px);
    height: 70%;
    display: flex;
    // border: 1px solid #715c119e;
    // background-color: lightblue;

    @include tablet-down {
      width: calc(100% - 50px);
      height: auto;
      flex-direction: column;
    }
  }
}

.leftSection {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // border: 1px solid red;
  z-index: 1;

  @include tablet-down {
    width: 100%;
    height: 50%;
    // border: 1px solid green;
  }
}

.headingContainer {
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;

  .sparkleDiv {
    top: -20px;
    left: -20px;
    position: absolute;
    width: 30px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid red;
    z-index: 2;
  }
  &__primaryHeading {
    // border: 1px solid red;
    @include font($font-sharp-25, $medium);
    font-size: 2.2rem;
    z-index: 2;
  }
  &__secondaryHeading {
    @include font($font-sharp-25, $medium, $text-brand);
    font-size: 1rem;
    text-transform: uppercase;
    z-index: 2;
  }
}

.paraContainer {
  width: 100%;
  flex: 0 0 auto;
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  z-index: 2;

  &__paraTextFit {
    width: 100%;
    height: 100%;
    // display: flex;
    display: block;
    align-items: center;
    padding: 20px 0px;
    line-height: 2;
    @include font($font-oldschool, $medium);
  }
}

.actionBtnContainer {
  width: 100%;
  height: 40px;
  button {
    background-color: $brand-primary;
    height: 40px;
    width: auto;
    @include font($font-oldschool, $book, white);
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    border-radius: 5px 15px 5px 15px;

    .buttonTextFitContainer {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px 15px;
    }
  }
}

.rightSection {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid red;

  @include tablet-down {
    width: 100%;
    height: unset;
    aspect-ratio: 3/2;
    // border: 1px solid blue;
    margin-top: 50px;
  }

  &__collageGrid {
    width: 80%;
    aspect-ratio: 3/2;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "cell1 cell1 cell2 cell3 cell3 cell3"
      "cell1 cell1 cell4 cell3 cell3 cell3"
      "cell5 cell7 cell7 cell3 cell3 cell3"
      "cell6 cell7 cell7 cell8 cell9 cell10";

    @include tablet-down {
      height: 90%;
      width: unset;
    }
    @include mobile-down {
      width: 90%;
      height: unset;
    }

    .cell1 {
      grid-area: cell1;
      // background-color: lightgreen;
      border-radius: 50px 0px 50px 0px;
      position: relative;
      overflow: hidden;
    }
    .cell2 {
      grid-area: cell2;
      background-color: #ff6a4c;
      border-radius: 35px 0px 35px 0px;
    }
    .cell3 {
      grid-area: cell3;
      background-color: lightblue;
      border-radius: 50px 0px 50px 0px;
      position: relative;
      overflow: hidden;
    }
    .cell4 {
      grid-area: cell4;
      background-color: peachpuff;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
    }
    .cell5 {
      grid-area: cell5;
      // background-color: lightpink;
      background-color: #ff6432;

      border-radius: 0px 35px 0px 35px;
    }
    .cell6 {
      grid-area: cell6;
      background-color: #fe964f;
      border-radius: 35px 0px 35px 0px;
    }
    .cell7 {
      grid-area: cell7;
      background-color: khaki;
      border-radius: 50px 0px 50px 0px;
      position: relative;
      overflow: hidden;
    }
    .cell8 {
      grid-area: cell8;
      background-color: #ff6a4c;
      border-radius: 35px 0px 35px 0px;
    }
    .cell9 {
      grid-area: cell9;
      background-color: thistle;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
    }
    .cell10 {
      grid-area: cell10;
      background-color: #fe964f;
      border-radius: 35px 0px 35px 0px;
    }
  }
}

.gradientSpot {
  position: absolute;
  align-self: start;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(250, 152, 5, 0.74);

  &--1 {
    height: 200px;
    top: 0px;
    left: -150px;
    margin-top: auto;
    margin-bottom: auto;
    filter: blur(5rem);
    z-index: 1;
  }
  &--2 {
    height: 70%;
    top: 20%;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    filter: blur(5rem);
  }

  @include mobile-down {
    top: 20%;
    width: 50%;
    height: unset;
  }
}
