@use "../../../../styles/fonts" as *;

$mobile: 393px;
$tablet: 830px;
$desktop: 1440px;

// Mixins
@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile + 1}) and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$tablet + 1}) and (max-width: #{$desktop - 1}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

.head {
  display: flex;
  flex-direction: row;
  margin-top: 8%;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 7rem;

  @include mobile {
    margin-top: 34%;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 1rem;
  }

  @include tablet {
    margin-top: 15%;
    margin-bottom: 4rem;
    gap: 1.5rem;
  }

  @include laptop {
    margin-top: 10%;
    margin-bottom: 5rem;
  }
}

.heading {
  font-family: $font-sharp-25;
  font-weight: 400;
  font-size: 3rem;
  color: #9F8310;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mobile {
    font-size: 1.5rem;
    margin-left: -2.5rem;
  }

  @include tablet {
    font-size: 2.2rem;
    margin-left: -1.5rem;
  }

  @include laptop {
    font-size: 2.8rem;
  }
}

.star {
  margin-top: -3rem;

  @include mobile {
    margin-top: -3rem;
    scale: 0.6;
    padding: 0.5rem;
  }

  @include tablet {
    margin-top: -2.5rem;
    scale: 0.7;
  }

  @include laptop {
    margin-top: -2.8rem;
    scale: 0.85;
  }
}

.cardBody {
  height: 10rem;
  width: 60rem;
  background-color: #FFF7E0;
  margin: auto;
  border-radius: 1rem 6rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  border: 1px solid #A28808;

  @include mobile {
    flex-direction: column;
    width: 90%;
    height: 40vh;
    scale: 0.9;
    border-radius: 1rem 3rem;
  }

  @include tablet {
    width: 90%;
    height: 12rem;
    border-radius: 1rem 4rem;
  }

  @include laptop {
    width: 85%;
    height: 11rem;
    border-radius: 1rem 5rem;
  }
}

.cardImage {
  height: 10rem;
  width: 15rem;
  background-color: lightcoral;
  border-radius: 1rem 5rem;
  scale: 0.8;
  margin-left: 0.8rem;

  @include mobile {
    margin-left: 2rem;
    width: 20rem;
    height: 8rem;
    border-radius: 1rem 3rem;
  }

  @include tablet {
    width: 12rem;
    height: 9rem;
    margin-left: 1rem;
    border-radius: 1rem 4rem;
  }

  @include laptop {
    width: 14rem;
    height: 9.5rem;
    margin-left: 0.9rem;
  }
}

.cardDetail {
  display: flex;
  flex-direction: row;

  @include mobile {
    flex-direction: column;
    width: 100%;
  }

  @include tablet {
    flex-direction: row;
  }
}

.cardDesc {
  display: flex;
  flex-direction: column;
  margin-left: 6rem;
  margin-top: 2.5rem;

  @include mobile {
    margin-left: 2rem;
    margin-top: 1rem;
  }

  @include tablet {
    margin-left: 3rem;
    margin-top: 2rem;
  }

  @include laptop {
    margin-left: 4rem;
    margin-top: 2.2rem;
  }
}

.courseTitle {
  font-family: $font-oldschool;
  font-weight: 400;
  font-size: 2.2rem;
  color: #A28808;

  @include mobile {
    font-size: 1.6rem;
  }

  @include tablet {
    font-size: 1.8rem;
  }

  @include laptop {
    font-size: 2rem;
  }
}

.coursePrice {
  font-family: $font-oldschool;
  font-weight: 400;
  font-size: 1.8rem;
  color: #A28808;

  @include mobile {
    font-size: 1.4rem;
  }

  @include tablet {
    font-size: 1.5rem;
  }

  @include laptop {
    font-size: 1.6rem;
  }
}

.actionBtn {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-left: 9rem;
  align-items: center;

  @include mobile {
    margin-left: 0;
    justify-content: center;
    margin-top: 1rem;
    gap: 2rem;
  }

  @include tablet {
    margin-left: 3rem;
    gap: 2.5rem;
  }

  @include laptop {
    margin-left: 6rem;
    gap: 2.8rem;
  }
}

.delete {
  scale: 1.5;
  color: lightcoral;
  cursor: pointer;

  @include mobile {
    scale: 1.2;
  }

  @include tablet {
    scale: 1.3;
  }

  @include laptop {
    scale: 1.4;
  }
}

.pay {
  scale: 1.5;
  color: lightseagreen;
  cursor: pointer;

  @include mobile {
    scale: 1.2;
  }

  @include tablet {
    scale: 1.3;
  }

  @include laptop {
    scale: 1.4;
  }
}

.shoppingCartContainer {
  max-width: 1400px;
  margin: -50px auto;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 60vh;
  background: #FFF9E1;

  @include mobile {
    margin: -2px 0;
    height: auto;
    min-height: 50vh;
    border-radius: 8px;
  }

  @include tablet {
    margin: -30px auto;
    height: 185vh;
    border-radius: 10px;
  }

  @include laptop {
    margin: -40px auto;
    height: 62vh;
  }
}

.cartContent {
  display: flex;
  min-height: 500px;
  flex-direction: row;

  @include mobile {
    flex-direction: column;
    min-height: auto;
    justify-content: center;
  }

  @include tablet {
    flex-direction: column;
    justify-content: center;
  }
}

.cartItems {
  flex: 2;
  padding: 32px;

  @include mobile {
    padding: 16px;
  }

  @include tablet {
    padding: 24px;
  }

  @include laptop {
    padding: 28px;
  }
}

.cartItemsList {
  border: 1px solid #A28808;
  padding: 0.5rem;
  border-radius: 1rem;
  width: 70vh;

  @include mobile {
    width: 100%;
    padding: 1rem;
  }

  @include tablet {
    width: 100%;
    max-width: 50vh;
  }

  @include laptop {
    width: 100%;
    max-width: 60vh;
  }
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #F3E5AB;
  scale: 0.9;

  @include mobile {
    flex-direction: column;
    align-items: center;
    scale: 1;
    padding: 1rem 0;
    gap: 0.8rem;
  }

  @include tablet {
    flex-direction: column;
    align-items: center;
    scale: 1;
    padding: 1rem 0;
    gap: 0.8rem;
  }
}

.item:last-child {
  border-bottom: none;
}

.itemName {
  font-size: 1.6rem;
  font-weight: 500;
  color: #A38907;
  margin-bottom: 4px;
  font-family: $font-oldschool;

  @include mobile {
    font-size: 1.3rem;
    margin-bottom: 2px;
  }

  @include tablet {
    font-size: 1.4rem;
  }

  @include laptop {
    font-size: 1.5rem;
  }
}

.itemInfo {
  font-size: 1.4rem;
  color: #A69600;
  font-weight: 500;
  font-family: $font-oldschool;

  @include mobile {
    font-size: 1.1rem;
  }

  @include tablet {
    font-size: 1.2rem;
  }

  @include laptop {
    font-size: 1.3rem;
  }
}

.itemPrice {
  font-size: 1.6rem;
  font-weight: 500;
  color: #A38907;
  min-width: 60px;
  text-align: right;

  @include mobile {
    font-size: 1.3rem;
    text-align: left;
    min-width: auto;
  }

  @include tablet {
    font-size: 1.4rem;
  }

  @include laptop {
    font-size: 1.5rem;
  }
}

.itemImage {
  border: 1px solid #A28808;
  border-radius: 1rem;

  @include mobile {
    max-width: 100px;
    max-height: 100px;
  }

  @include tablet {
    max-width: 120px;
    max-height: 120px;
  }

  @include laptop {
    max-width: 140px;
    max-height: 140px;
  }
}

.itemDetails {
  width: 300px;

  @include mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include tablet {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include laptop {
    width: 280px;
  }
}

.deleteItem {
  top: 27%;
  left: 19%;
  border-radius: 50%;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: #A28808;

  @include mobile {
    position: static;
    align-self: flex-end;
  }

  @include tablet {
    position: relative;
    top: auto;
    left: auto;
  }

  &:hover {
    color: #cc0000;
  }
}

.orderSummary {
  flex: 1;
  padding: 32px 24px;
  background: #FFFCE1;

  @include mobile {
    flex: none;
    padding: 20px 16px;
    margin-bottom: 180px;
  }

  @include tablet {
    padding: 28px 20px;
  }

  @include laptop {
    padding: 30px 22px;
  }
}

.summaryTitle {
  font-size: 1.5rem;
  font-weight: 500;
  color: #A38907;
  margin-bottom: 20px;
  font-family: $font-sharp-25;
  text-align: center;

  @include mobile {
    font-size: 1.3rem;
    margin-bottom: 15px;
  }

  @include tablet {
    font-size: 1.4rem;
  }
}

.couponSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;

  @include mobile {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  @include tablet {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
}

.couponInput {
  background: #FFFCE1;
  color: #A69600;
  border: 1px solid #A69600;
  border-radius: 8px;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 500;
  transition: background 0.2s ease, color 0.2s ease;
  outline: none;

  @include mobile {
    width: 100%;
    max-width: 250px;
    font-size: 1.1rem;
    padding: 8px 12px;
  }

  @include tablet {
    width: 100%;
    max-width: 250px;
    font-size: 1.3rem;
    padding: 8px 12px;
  }
}

.couponInput:focus {
  border-color: #A69600;
  outline: none;
}

.summaryLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  font-size: 1rem;
  margin-top: 2rem;

  @include mobile {
    font-size: 0.9rem;
    margin-top: 1.5rem;
    margin-bottom: 10px;
  }

  @include tablet {
    font-size: 0.95rem;
  }
}

.summaryLineSubtotal,
.summaryLineDiscount
 {
  color: #A69600;
  font-size: 1rem;
  font-weight: 600;

  @include tablet{
    font-size: 1.2rem;
  }
}

.summaryLineTotal {
  font-size: 16px;
  font-weight: 600;
  color: #A38907;
  padding-top: 12px;
  border-top: 1px solid #A38907;
  margin-top: 12px;

  @include mobile {
    font-size: 18px;
    padding-top: 10px;
    margin-top: 10px;
  }

  @include tablet {
     font-size: 19px;
    padding-top: 10px;
    margin-top: 10px;
  }
}

.couponBtn {
  background: #FFFCE1;
  color: #A69600;
  border: 1px solid #A69600;
  border-radius: 8px;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease, color 0.2s ease;

  @include mobile {
    width: 100%;
    max-width: 250px;
    font-size: 1rem;
    padding: 8px 12px;
  }

  @include tablet {
     width: 100%;
    max-width: 250px;
    font-size: 1.2rem;
    padding: 8px 12px;
  }

  &:hover {
    background: #A38907;
    color: white;
  }
}

.checkoutBtn {
  background: #FFFCE1;
  color: #A69600;
  border: 1px solid #A69600;
  border-radius: 8px;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease, color 0.2s ease;
  margin-left: 10rem;
  margin-top: 3rem;

  @include mobile {
    margin-left: 0;
    margin-top: 2rem;
    width: 100%;
    font-size: 18px;
    padding: 12px 16px;
  }

  @include tablet {
    margin-left: 0;
    margin-top: 2rem;
    width: 100%;
    font-size: 18px;
    padding: 12px 16px;
  }

  @include laptop {
    margin-left: 7rem;
  }

  &:hover {
    background: #A38907;
    color: white;
  }
}

.emptyCart {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #A38907;
  text-align: center;
  border: 2px dashed #A38907;
  border-radius: 12px;
  padding: 20px;

  @include mobile {
    min-height: 150px;
    font-size: 1rem;
    padding: 15px;
    border-radius: 8px;
  }

  @include tablet {
    min-height: 175px;
    font-size: 1.1rem;
    border-radius: 10px;
  }
}

.seperationLine {
  height: 56vh;
  width: 1px;
  position: absolute;
  margin-left: 45%;
  margin-top: 14px;
  background: linear-gradient(
    to bottom,
    rgba(162, 136, 8, 0) 0%,
    rgba(162, 136, 8, 1) 20%,
    rgba(162, 136, 8, 1) 80%,
    rgba(162, 136, 8, 0) 100%
  );

  @include mobile {
    display: none;
  }

  @include tablet {
   display: none;
  }

  @include laptop {
    height: 58vh;
    margin-left: 43%;
  }
}