@use "../../../../../../styles/index" as *;

.sectionWrapper {
  margin-top: 100px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  //   border: 1px solid #715c119e;
  padding: 70px 0px 0px 0px;
  overflow: hidden;

  @include tablet-down {
    height: auto;
    padding: 70px 0% 0px 0%;
  }

  &__innerContainer {
    width: 100%;
    height: 70%;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // border: 1px solid #715c119e;

    @include tablet-down {
      height: auto;
      flex-direction: column;
    }
  }
}

.mainHeaderSection {
  width: 100%;
  height: auto;
  //   border: 1px solid red;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .sectionHeadingWrapper {
    position: relative;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    // border: 1px solid green;

    &__primaryHeading {
      position: relative;
      @include font($font-sharp-25, $medium);
      font-size: 2rem;
      @include screen(sm) {
        font-size: clamp(
          2rem,
          1.3333333333333335rem + 1.6666666666666667vw,
          4rem
        ) !important;
      }

      z-index: 2;
      margin-bottom: 5px;

      .sparkleDiv {
        top: 0px;
        left: 0px;
        transform: translate(-80%, -80%);
        position: absolute;
        width: 40px;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
        // border: 1px solid red;
        z-index: 2;

        div {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        @include tablet-down {
          transform: translate(-50%, -90%);
        }
      }
    }
    &__secondaryHeading {
      @include font($font-sharp-25, $medium, $text-brand);
      text-transform: uppercase;
      z-index: 2;
      font-size: 1rem;
      @include screen(sm) {
        font-size: clamp(
          1rem,
          0.6666666666666667rem + 0.8333333333333334vw,
          2rem
        ) !important;
      }
    }
  }
}

.marqueeSection {
  width: 100%;
  height: 220px;
  display: flex;
  align-items: center;
  // border: 1px solid red;
  margin: 20px 0px;

  @include mobile-down {
    height: 170px;
  }
}

.testimonialCard {
  height: 100%;
  aspect-ratio: 16/9;
  background: linear-gradient(180deg, #fff7e1 0%, #f8f1de 100%);
  border: 1px solid #715c1121;
  border-radius: 20px 20px 20px 60px;
  padding: 30px 30px 30px 50px;
  margin: 0px 20px;
  display: flex;
  flex-direction: column;

  @include mobile-down {
    border-radius: 20px 20px 20px 50px;
    padding: 20px 20px 20px 40px;
  }

  &__contentContainer {
    position: relative;
    flex: 1;
    padding-left: 5px;
    p {
      @include font($font-oldschool, $book);
      line-height: 2;
      font-size: 0.8rem;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      @include mobile-down {
        line-height: 1.5;
        font-size: 0.8rem;
        -webkit-line-clamp: 4;
      }
    }

    .iconDiv {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      aspect-ratio: 3/2;
      transform: translate(-110%, -10%);
      display: flex;
      align-items: center;
      justify-content: center;
      @include mobile-down {
        height: 15px;
      }
    }
  }

  &__userInfoGrid {
    width: 100%;
    height: 50px;
    // border: 1px solid red;
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-rows: 50% 50%;
    column-gap: 10px;
    grid-template-areas:
      "avatarCell nameCell"
      "avatarCell professionCell";

    @include mobile-down {
      height: 35px;
    }

    .avatarCell {
      position: relative;
      grid-area: avatarCell;
      height: 100%;
      aspect-ratio: 1/1;
      // border: 1px solid red;
      border-radius: 50%;
      overflow: hidden;
    }
    .nameCell {
      grid-area: nameCell;
      width: 100%;
      height: 100%;
      //   border: 1px solid red;
      display: flex;
      align-items: flex-end;
      p {
        @include font($font-oldschool, $medium, #715c11);
        font-size: 0.9rem;
      }
    }
    .professionCell {
      grid-area: professionCell;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      //   border: 1px solid red;
      p {
        @include font($font-oldschool, $medium);
        font-size: 0.8rem;
      }
    }
  }
}
