@use "../../../../../../styles/index" as *;

.sectionWrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-top: 50px;

  &__innerContainer {
    width: calc(100% - 200px);
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid seagreen;

    @include tablet-down {
      width: calc(100% - 50px);
      flex-direction: column;
    }
  }
}

.topSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-self: self-start;
  border: 1px solid red;

  &__headingContainer {
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;

    .sparkleDiv {
      top: -30px;
      left: -30px;
      position: absolute;
      width: 30px;
      aspect-ratio: 1/1;
      display: flex;
      align-items: center;
      justify-content: center;
      // border: 1px solid red;
      z-index: 2;
    }

    .primaryHeading {
      // border: 1px solid red;
      @include font($font-sharp-25, $medium);
      font-size: 2.2rem;
      z-index: 2;
    }
    .secondaryHeading {
      @include font($font-sharp-25, $medium, $text-brand);
      font-size: 1rem;
      text-transform: uppercase;
      z-index: 2;
    }
  }

  &__paraContainer {
    width: 60%;
    // flex: 0 0 auto;
    flex: 1 1 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    z-index: 2;
    // border: 1px solid red;

    @include tablet-down {
      width: 100%;
    }

    .paraTextFit {
      width: 100%;
      height: 100%;
      // display: flex;
      display: block;
      align-items: center;
      padding: 20px 0px;
      line-height: 2;
      @include font($font-oldschool, $medium);
    }
  }
}

.middleSection {
  width: 100%;
  height: 100px;
  border: 1px solid red;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__middleHeading {
    @include font($font-sharp-25, $medium);
    font-size: 2.2rem;
    line-height: 1.3;
    z-index: 2;

    span {
      color: $text-brand;
    }
  }
}

.mainSection {
  width: 100%;
  flex: 1;
  border: 1px solid blue;
  display: flex;

  &__leftSection {
    width: 50%;
    // height: 100%;
    aspect-ratio: 3/2;
    border: 1px solid red;
  }
  &__rightSection {
    width: 50%;
    aspect-ratio: 3/2;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    padding: 40px;
  }
}

.programCardGrid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80px minmax(0, 1fr) 45px;
  grid-template-areas:
    "programTitleCell"
    "programDescCell"
    "programLinkBtnCell";
}

.programTitleCell {
  grid-area: "programTitleCell";
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border: 1px solid red;
}
.programDescCell {
  grid-area: "programDescCell";
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border: 1px solid green;
}

.programLinkBtnCell {
  grid-area: "programLinkBtnCell";
  width: 100%;
  height: 100%;
  border: 1px solid blue;
  display: flex;
  align-items: center;

  &__link {
    height: 90%;
    width: auto;
    padding: 0px 10px;
    background-color: $brand-primary;
    @include font($font-oldschool, $book, white);
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    border-radius: 5px 15px 5px 15px;

    .buttonTextFitContainer {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px 15px;
    }
  }
}
