@font-face {
  font-family: sharp-grotesk;
  src: url('/fonts/sharpGrotesk/SharpGrotesk-Medium25.otf')
}


@font-face {
  font-family: old-school-grotesk;
  src: url('/fonts/oldSchoolGrotesk/OldschoolGroteskVar.ttf')
}

.section{
  position: relative;
  width: 100%;
}

.section2{
  width: 100%;
  position: relative;
}

.first{
  position: relative;
  width: 100%;
}

.content1{
  display: flex;
  flex-direction: column;
  margin: 150px 180px;
  width: 90vh;
}

.ellipse1{
  position: absolute;
  margin: -20px -150px;
}

.star1{
  scale: 0.8;
  margin: 2px -28px;
}

.content1 h1{
  font-family: sharp-grotesk;
  font-weight: 100;
  font-size: 3rem;
}

.content1 h4{
  font-family: sharp-grotesk;
  font-weight: 100;
  font-size: 1.5rem;
  color: #FF6432;
  margin-top: 10px;
}

.content1 p{
  font-family: old-school-grotesk;
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 20px;
}

.content2{
  display: flex;
  flex-direction: column;
  text-align-last: right;
  margin: 100px 180px;
}

.ellipse2{
  position: absolute;
  right: 0%;
  margin: -20px -150px;
}

.star2{
  position: absolute;
  right: 0%;
  scale: 0.8;
  margin: -55px 150px;
}

.content2 h1{
  font-family: sharp-grotesk;
  font-weight: 100;
  font-size: 3rem;
}

.content2 h4{
  font-family: sharp-grotesk;
  font-weight: 100;
  font-size: 1.5rem;
  color: #FF6432;
  margin-top: 10px;
}

.content2 p{
  font-family: old-school-grotesk;
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 20px;
  text-align: right;
  padding: 0 0 0 550px; /* Changed from padding both sides to only left */
}

.team{
  display: flex
}

.pic1{
  display: flex;
  flex-direction: column;
  margin-left: 180px;
  margin-bottom: 150px;
}

.ceo{
  border-radius: 40px 40px 40px 100px;
}

.star{
  scale: 0.6;
  margin: 0px -29px ;
}

.pic1 h1{
  font-family: sharp-grotesk;
  font-weight: 100;
  font-size: x-large;
}

.pic1 div{
  background-color: black;
  height: 0.05rem;
  width: 25rem;
  opacity: 0.2;
}

.pic1 h4{
  font-family: sharp-grotesk;
  font-weight: 100;
  font-size: smaller;
  margin-top: 10px;
  opacity: 0.8;
}

.pic1 p{
  margin-top: 20px;
  width: 350px;
  font-size: smaller;
}

.pic2{
  display: flex;
  flex-direction: column;
  margin-left: 180px;
  margin-bottom: 150px;
  margin-top: 180px;
}

.pic2 h1{
  font-family: sharp-grotesk;
  font-weight: 100;
  font-size: x-large;
}

.pic2 div{
  background-color: black;
  height: 0.05rem;
  width: 25rem;
  opacity: 0.2;
}

.pic2 h4{
  font-family: sharp-grotesk;
  font-weight: 100;
  font-size: smaller;
  margin-top: 10px;
  opacity: 0.8;
}

.pic2 p{
  margin-top: 20px;
  width: 350px;
  font-size: smaller;
}

.pic3{
  display: flex;
  flex-direction: column;
  margin-left: 180px;
  margin-bottom: 150px;
  margin-top: -150px;
}

.pic3 h1{
  font-family: sharp-grotesk;
  font-weight: 100;
  font-size: x-large;
}

.pic3 div{
  background-color: black;
  height: 0.05rem;
  width: 25rem;
  opacity: 0.2;
}

.pic3 h4{
  font-family: sharp-grotesk;
  font-weight: 100;
  font-size: smaller;
  margin-top: 10px;
  opacity: 0.8;
}

.pic3 p{
  margin-top: 20px;
  width: 350px;
  font-size: smaller;
}



