// Font families
$font-sharp-20: var(--font-sharp-20), sans-serif;
$font-sharp-25: var(--font-sharp-25), sans-serif;
$font-oldschool: var(--font-oldschool), sans-serif;

/* 

can define more font here like 

$font-satoshi:var(--font-satoshi)


*/

// Semantic weight variables
$thin: 100;
$light: 300;
$book: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$black: 900;
