@use "../../../../styles/fonts" as *;

$mobile: 393px;
$tablet: 830px;
$desktop: 1440px;

// Mixins
@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile + 1}) and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$tablet + 1}) and (max-width: #{$desktop - 1}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

.headDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem; // space between items
  margin-top: 8%;
}

.headstar1 {
  margin-top: -5%;
  margin-left: -43%;
  position: absolute;

  @include mobile{
    margin-top: 3%;
    margin-left: -85%;
  }

  @include laptop{
    margin-left: -90%;
  }

  @include tablet{
    margin-top: 3%;
    margin-left: -70%;
  }
}

.headstar2{
  margin-top: 5%;
  margin-right: -43%;
  position:absolute;

  @include mobile{
    margin-top: 38%;
    margin-right: -88%;
  }

  @include laptop{
    margin-right: -90%;
    margin-top: 15%;
  }

  @include tablet{
    margin-top: 20%;
    margin-right: -70%;
  }
}

.heading{
    text-align: center;
    font-family: $font-sharp-25;
    font-weight: 350;
    font-size: 3rem;
    color: #A38907;

    @include mobile{
      font-size: 1.2rem;
      margin-top: 5rem;
      font-weight: 400;
    }

    @include laptop{
      margin-top: 3rem;
    }

    @include tablet{
      margin-top: 5rem;
      font-size: 2rem;
      font-weight: 400;
    }
}

.courses {
  display: grid;
  grid-template-columns: repeat(3 , 1fr); // desktop (3 cards)
  gap: 3rem;
  padding: 0 12rem;
  margin-top: 5%;
  margin-bottom: 10%;
  
  @include laptop{
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    scale: 0.8;
    margin-top: -47rem;
    margin-bottom: -45rem;
  }

  @include mobile{
    grid-template-columns: 1fr;
    padding: 0;
    scale: 0.8;
    margin-top: -95rem;
    margin-bottom: -93rem;
    margin-left: -5%;
  }

  @include tablet{
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    scale: 0.8;
    margin-top: -45rem;
    margin-bottom: -43rem;
    margin-left: -2%;
  }
}

.courseCard {
  background: #FFF9E1;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 400px;
  border-radius: 1rem;
  height: 540px;

  // &:hover {
  //   transform: translateY(-6px);
  //   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  // }

  .imageContainer {
    width: 100%;
    height: 250px;
    overflow: hidden;
    padding: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      border-radius: 1rem;
    }
  }

  .content {
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: -2%;
    justify-content: center;
    align-items: center;

    .star1{
        margin-top: -22%;
        position: absolute;
        margin-left: -88%;
    }


    h1 {
      font-size: 1.7rem;
      font-weight: 500;
      margin-bottom: 0.75rem;
      color: #A38907;
      font-family: $font-oldschool;
    }

    .skills {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      .skill {
        background: #f3f4f6;
        padding: 0.4rem 0.8rem;
        border-radius: 0.5rem;
        font-size: 0.85rem;
        color: #555;
        transition: background 0.2s;

        &:hover {
          background: #e5e7eb;
        }
      }
    }
  }
}

.coursePlan{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 1rem;
  font-family: $font-oldschool;
  color: #A38907;
  font-size: 1.1rem;
  gap: 3rem;
}

.priceDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price{
  font-size: 1.4rem;
  padding: 0.5rem;
  width: 60px;
  margin-top: 5px;
  color: #A69600;
}

.actualprice{
  font-size: 1.2rem;
  padding: 0.5rem;
  width: 60px;
  margin-top: -15px;
}

.pricetag{
  font-weight: 500;
  font-size: 1.5rem;
}

.line{
  height: 1px;
  width: 70px;
  background-color: #FF3A30;
  position: absolute;
  margin-top: 14%;
  margin-left: -4px;
  position: absolute;
}

.actionTab{
    text-align: center;
    margin-left: 25px;
    margin-top: 2rem;
    font-size: 1.2rem;
    padding: 0.6rem;
    font-family: $font-oldschool;
    border: none;
    border-radius: 1.5rem;
    color: white;
    width: 22rem;
    border: 1px solid #A69600;
    background-color: #FFFCE1;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 14rem;
}

.cart{
  color: #A69600;
}

.delete{
  color: #A69600;
}

.explore{
  color: #A69600;
}

.star{
  position: absolute;
  margin-left: -92%;
  margin-top: -19%;
}

.check1{
  position: absolute;
  margin-top: -8rem;
}