@use "../styles/index" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
  scrollbar-width: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $app-background-base;
  cursor: none;
  @include hide-scrollbar;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; // Chrome, Safari
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}

html,
body {
  height: auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #9c7f16 !important;
  caret-color: white;
}
