@use "../styles/index" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $app-background-base;
  cursor: none;
  @include hide-scrollbar;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}

html,
body {
  height: auto;
}
