@font-face {
  font-family: sharp-grotesk;
  src: url('/fonts/sharpGrotesk/SharpGrotesk-Medium25.otf')
}

.strip1 {
    width: 100%;
    background-color: #FF8C4D;
    height: 8vh;
}

.strip2 {
  width: 110%;
  background-color: #FF6432;
  height: 8vh;
  margin-top: -75px;
  rotate: -2deg;
  position: relative;
  left: -2%;
  display: flex;
  overflow: hidden;
}

.content {
  display: flex;
  white-space: nowrap;
  width: max-content;
  transform: translateX(-50%); // Set initial position
}

.heading {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding-right: 60px;  // Add spacing between items
  white-space: nowrap;
  gap: 50px;
}

.heading img {
  height: 40px;
  filter: brightness(0) invert(1);
  white-space: nowrap;
}

.heading h1 {
  font-size: 25px;
  color: white;
  white-space: nowrap;
}