.main {
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.blogsInfoContent {
  height: 83vh;
  width: 150vh;
  margin-right: 20px;
  border-radius: 20px;
  background-color: #faf7e9;
  padding: 30px;
}
