@font-face {
  font-family: sharp-grotesk;
  src: url('/fonts/sharpGrotesk/SharpGrotesk-Medium25.otf')
}

@font-face {
  font-family: old-school-grotesk;
  src: url('/fonts/oldSchoolGrotesk/OldschoolGroteskVar.ttf')
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0;
  padding: 20px;
  gap: 140px;
}

.heading{
  font-family: sharp-grotesk;
  font-weight: 200;
}

.subheading{
  font-family: sharp-grotesk;
  font-weight: 100;
  color: #FF6432;
}

.description{
  font-family: old-school-grotesk;
  padding: 10px 0;
  width: 800px;
}