@use "../../../../../../../styles/index" as *;

.marquee {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;

  &__strip {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    will-change: transform;
  }
}

.brandLogo {
  height: 100%;
  aspect-ratio: 3/2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
