.layout{
    
    color:#262C35;
    text-align: center;
    font-family: var(--font-sharp-25), Sharp Grotesk;
    
    h1{
         
        font-weight: 500;
    }
    p{
        color:#FF6432;
    }
    img{
        padding-right: 300;
        width: 100%;

    }
}