@use "../../../../../../styles/index" as *;
.hero {
  width: 100%;
  height: calc(100vh + 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
  // border: 1px solid red;
  overflow: hidden;
}

.gradientSpot {
  position: absolute;
  height: 70%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(250, 152, 5, 0.74);
  filter: blur(5rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  @include tablet-down {
    filter: blur(7rem);
  }
}

.heroTextWrapper {
  position: relative;
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  // border: 1px solid red;

  .textContainer {
    position: relative;
    height: fit-content;
    aspect-ratio: 16/9;
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__textDiv {
      width: 100%;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      // border: 1px solid red;
      overflow: hidden;
      padding: 2px 0px;
      h1 {
        z-index: 2;
        line-height: 1.2;
        @include font($font-sharp-25, $medium);
        font-size: 2.2rem;

        @include screen(sm) {
          font-size: clamp(
            2.8rem,
            1.0795698924731179rem + 4.301075268817205vw,
            7.8rem
          ) !important;
          background-color: palevioletred;
        }

        // @include screen(md) {
        //   font-size: 4.5rem;
        //   background-color: skyblue;
        // }
        // @include screen(lg) {
        //   font-size: 5.5rem;
        //   background-color: salmon;
        // }
        // @include screen(xl) {
        //   font-size: 6.5rem;
        //   background-color: goldenrod;
        // }

        // @include screen(2xl) {
        //   font-size: 8.5rem;
        //   background-color: lightgreen;
        // }
      }
    }

    .sparkleOne {
      position: absolute;
      width: 70px;
      aspect-ratio: 1/1;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
      transform: translate(-100%, -10%);
      top: 0%;
      left: 0%;
      // border: 1px solid red;

      div {
        width: 100%;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 1px solid red;
      }
      @include tablet-down {
        transform: translate(-50%, -100%);
        top: 0%;
        left: 0%;
      }
    }

    .sparkleTwo {
      position: absolute;
      width: 55px;
      aspect-ratio: 1/1;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate(150%, 0px);
      z-index: 2;
      top: 0%;
      bottom: 0%;
      right: 0%;
      margin-top: auto;
      margin-bottom: auto;

      div {
        width: 100%;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      @include tablet-down {
        transform: translate(50%, 100%);
        top: unset;
        bottom: 0%;
        right: 0%;
        margin: 0;
      }
    }
  }
}

.scrollWheelWrapper {
  width: 100%;
  height: 110px;
  min-height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}
