@use "../../../../../../styles/variables" as v;
@use "../../../../../../styles/mixins" as m;
@use "../../../../../../styles/fonts" as f;

.heroWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: v.$brand-primary;

  &__headingTop {
    @include m.font(f.$font-sharp-25, f.$bold, v.$text-primary);
    font-size: 5rem;
  }
  &__headingMiddle {
    @include m.font(f.$font-sharp-25, f.$bold, v.$text-secondary);
    font-size: 4rem;
  }
  &__headingBottom {
    @include m.font(f.$font-sharp-25, f.$bold, v.$text-tertiary);
    font-size: 3rem;
  }
  &__para {
    margin-top: 10px;
    width: 80%;
    @include m.font(f.$font-oldschool, f.$book, v.$text-primary);
    font-size: 0.85rem;
    line-height: 1.3;
    background-color: v.$app-background-base;
    padding: 50px 50px;
    border: 1px solid red;
  }
}
